canvas{

height: 100vh !important;

}
canvas:hover{
    cursor: pointer;

}

@media(max-width:1141px){
canvas{
    min-height: 1000px !important;
}
}

@media(max-width:903px){
    canvas{
       height: 100vh !important;
    }
}
.wrapper:hover{
    cursor: grab;
}