body{
    background-color: aliceblue;
}
.cards{
    display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

h1{
    text-transform: uppercase;
    font-size: 7rem;
    padding-bottom: 5rem;
-webkit-text-stroke-width: 2px;
color: azure;
}